@if(!character() && !isError() && !isLoading()){
  No encounter
}

@if (isLoading()){
  Loading encounter...
}

@if (isError() && !isLoading()) {
  error while loading encounter...
}

@if(character() && !isError() && !isLoading()) {
  <div>
    <span>Name: {{ character()?.name }}</span>
    <span>Description: {{ character()?.description }}</span>
    <span>Level: {{ character()?.level }}</span>
  </div>
  @if(showStats()) {
    ---
    <div>
    <span>
      Health: {{ character()?.currentHealth }} /{{ character()?.health }}
    </span>
      <span>Mana: {{ character()?.currentMana }} / {{ character()?.mana }}</span>
    </div>
    ---
    <div>
      <span>Defense: {{ character()?.defense }}</span>
      <span>Attack: {{ character()?.attack }}</span>
    </div>
  }
}



