<div>
  <span>Name: {{adventurer()?.name}}</span>
  <span>Archetype: {{adventurer()?.archetype}}</span>
  <span>Level: {{adventurer()?.level}}</span>
</div>
---
<div>
  <span>Health: {{adventurer()?.currentHealth}} / {{adventurer()?.health}}</span>
  <span>Mana: {{adventurer()?.currentMana}} / {{adventurer()?.mana}}</span>
</div>
---
<div>
  <span>Defense: {{adventurer()?.defense}}</span>
  <span>Attack: {{adventurer()?.attack}}</span>
</div>
--
<div>
  <span>Gold: {{adventurer()?.gold}}</span>
</div>

<p-button (click)="toggleEquipment()">Open equipment</p-button>

<p-dialog header="Equipment" [modal]="true" [(visible)]="equipmentVisible" [style]="{ width: '25rem' }">
  @if (equipment().length === 0) {
    No equipment
  } @else {
    @for (equipment of equipment(); track $index) {
      <div>
        <span>Name: {{equipment.name}}</span>
        <span>level:{{equipment.level}}</span>
        --
        <span>{{equipment.description}}</span>
        --
        <div>
          Effects:
          @for (effect of equipment.effects; track $index) {
            <span>{{effect.targetProperty}}: {{effect.value}}</span>
          }
        </div>
      </div>
    }
  }
  <p-button label="Close" (click)="toggleEquipment()" />
</p-dialog>
