:host {
  div {
    display: flex;
    flex-direction: column;

    span {
    }
  }

  .adventurer-infos-actions {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    justify-content: space-between;
  }
}
