@if (isError()) {
  error while loading the shop
}

@if (isLoading()) {
  loading the shop...
}

@if (!isError() &&!isLoading() && shop()) {
  <h1>{{shop()?.name}}</h1>

  <p>{{shop()?.shopkeeper_description}}</p>

  @for (item of shop()?.goods; track item) {
    <div>
      <h2>{{item.name}}</h2>
      <p>{{item.description}}</p>

      <div>Level: {{item.level}}</div>
      <div>Cost: {{item.cost}}</div>
      <div>Type: {{item.type}}</div>

      <p>Effects: </p>
      @for (itemEffect of item.effects; track itemEffect) {
        <div>
          Property: {{itemEffect.targetProperty}}<br>
          value: {{itemEffect.value}}
        </div>
      } @empty {
        <p>There are no effects for this skill. The IA is trolling.</p>
      }
    </div>
  }
}
