@if(step() === GameStep.InitStory) {
  <h1>Choosing Story</h1>
  <app-story (storySelected)="setStep(GameStep.InitAdventurer)"></app-story>
}

@if(step() === GameStep.InitAdventurer) {
  <h1>Choosing Adventurer</h1>
  <app-choose-adventurer (adventurerSelected)="setStep(GameStep.InitSkills)"></app-choose-adventurer>
}


@if(step() === GameStep.InitSkills) {
  <h1>Choosing Skill</h1>
  <app-choose-skill (skillSelected)="startGame()"></app-choose-skill>
}

@if(step() === GameStep.GameLoop) {
  <app-adventurer-infos></app-adventurer-infos>

  @switch (encounter()) {
    @case (Encouter.Choices) {
      <app-choices (choiceSelected)="choiceSelected($event)"></app-choices>
    }
    @case (Encouter.Elite_fight) {
      Elite fight !
    }
    @case (Encouter.Fight) {
      Fight
    }
    @case (Encouter.Power) {
      Power
    }
    @case (Encouter.Shop) {
      <app-shop></app-shop>
    }
    @case (Encouter.Treasure) {
      Treasure
    }
  }
}
