@if (isError() && !isLoading()) {
  <p>An error happened</p>
  <p-button (click)="loadNewStory()">Generate a new story</p-button>
}

@if (isLoading()) {
  <p>Story is generating, please wait</p>
}

@if (!isLoading() && !isError() && story()) {
  <div class="story-premise-container">
    <label for="story-premise">Story Premise</label>
    <input id="story-premise" type="text" pInputText [(ngModel)]="premise"/>
    <small id="story-premise-help">Add details for the AI to build around or include in your story.</small>
  </div>
  <p-button (click)="loadNewStory()">Generate a new story</p-button>

  <div class="story-container">
    <h2>{{ story()?.name }}</h2>
    <br />
    <p>Biome: {{ story()?.biome }}</p>
    <br />
    <div class="story-summary-container">
      {{ story()?.story_summary }}
    </div>
    <br />
    <p>Boss: {{ story()?.boss_name }}</p>
  </div>

  @if(!isStoryImgLoading() && storyImg()) {
    <img [ngSrc]="'data:image/png;base64,' + storyImg().candidates[0].content.parts.inlineData.data"/>
  }


  <p-button (click)="storySelected.emit(true)">Choose this story</p-button>
}
