@if (isError()) {
  <p>An error happened</p>
  <button (click)="loadNewAdventurer()">Generate a new adventurer</button>
}

@if (isLoading()) {
  <p>Adventurer is generating, please wait</p>
}

@if (adventurer() && !isLoading() && !isError()) {
  <div class="adventurer-additional-infos-container">
    <label for="adventurer-generate-additional-infos">Additional generation infos</label>
    <input id="adventurer-generate-additional-infos" type="text" pInputText [(ngModel)]="additionalGenerationInfos"/>
    <small id="adventurer-generate-additional-infos-help">Add details for the AI to build around or include in your adventurer.</small>
  </div>
  <p-button (click)="loadNewAdventurer()">Generate a new Adventurer</p-button>

  <div class="choose-adventurer-infos">
    <h2>{{ adventurer()?.name }}</h2>
    <br />
    <p>{{ adventurer()?.description }}</p>
    <br />
    <span
    >Archetype: {{ adventurer()?.archetype }} (level
      {{ adventurer()?.level }})</span
    ><br />
    <span>Health: {{ adventurer()?.health }}</span
    ><br />
    <span>Defense: {{ adventurer()?.defense }}</span
    ><br />
    <span>Attack: {{ adventurer()?.attack }}</span
    ><br />
    <span>Mana: {{ adventurer()?.mana }}</span
    ><br />
  </div>

  <p-button (click)="chooseAdventurer()">Choose this adventurer</p-button>
}
