@if(skill.error()){
  <p>An error happened</p>
}

@if(skill.isLoading()) {
  <p>The skill is generating, please wait</p>
}

@if (skill.hasValue() && !skill.isLoading() && !skill.error()) {
  <h2>{{skill.value()?.name}}</h2>

  <p>{{skill.value()?.description}}</p>
  <p>Mana cost: {{skill.value()?.cost}}</p>

  <p>Effects: </p>
  @for (skillEffect of skill.value()?.effect; track skillEffect) {
    <div>
      Cible: {{skillEffect.targetCharacter}}, {{skillEffect.targetProperty}}<br>
      valeur: {{skillEffect.value}}
    </div>
  } @empty {
    <p>There are no effects for this skill. The IA is trolling.</p>
  }

  <button (click)="skill.reload()">Generate a new skill</button>
  <button (click)="selectSkill()">Choose this skill</button>
}



